body {
  background-color: black !important;

  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
  color: white !important;
}

form {
  z-index: 100;
}

#malVisual {
  margin-top: 20px;
}

.container{
	padding: 20px;
}

.anime_chart {
  height: 400px;
  margin: 20px !important;
}