{% extends "layout.html" %} {% block css %} {% endblock %} {% block body %}

<div class="container">
  <div id="data" data-list='{{ data }}'></div>
  <div class="row">
    <h1>Anime character biometrics</h1>
    <p>There are a couple APIs out there to find data on anime/manga characters–notably the anilist API. However, I noticed that they don't have data on characters from "older" shows (pre 2010). The next most reliable way to find the height and weight stats of characters was from their respective show's wikia pages. I used beautiful soup to scrape the html to 1) Find the wikia fandom site that corresponded to the character and 2) Find the weight and height of the character. The characters themselves were chosen arbitrarily. After adding some of my favorite characters, I realized there wasn't quite enough data and went through MyAnimeList's top characters, picking some by random (and by random, I mean–characters I either knew, faintly knew, or knew-by-friend-of-friend's-waifu/husbando). Very scientific. Eventually I'll do something interesting with the data, but for now this is all I have.</p>
    <button type="button" class="btn btn-outline-dark" id="switchUnits">Switch to imperial units </button>
  </div>
  <div class="row">
    <h2>Averages</h2>
    <div class="col-md-6">
      <h3>Female</h3>
      <h4>Height: </h4> <span class="height">158.45</span>
      <h4>Weight: </h4> <span class="weight">47.04</span>
      <h4>BMI: </h4> <span class="bmi">18.74</span>
    </div>
    <div class="col-md-6">
      <h3>Male</h3>
      <h4>Height: </h4> <span class="height">173.21</span>
      <h4>Weight: </h4> <span class="weight">62.35</span>
      <h4>BMI: </h4> <span class="bmi">20.35</span>
    </div>
  </div>
  <h1>Character height and weights</h1>
  <div class="anime_chart" id="height_weight"></div>
  <h1>Character BMIs</h1>
  <div class="anime_chart" id="bmi_chart"></div>
  {% endblock %} {% block scripts %}
  <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.flot.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.flot.axislabels.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/anime_character_biostats.js') }}"></script>
  {% endblock %}